
.vendor_list_nav {
    .vendor_list_nav_one {
        h5 {
            margin-bottom: 0;
            text-transform: capitalize;
        }
    }

    .vendor_list_nav_two {
        .logged_in {
            color: #bc3935;
        }
    }
}

.account_info {
    padding: 0 0 2rem;

    .account_tabs {
        box-shadow: 0 0 7px 2px rgba($color: #000000, $alpha: 0.1);
        padding: 0 2rem 2rem;

        .account_profile {
            display: grid;
            justify-content: center;
            padding: 2rem 0;

            img {
                width: 6rem;
                margin-bottom: 0.5rem;
                border-radius: 50%;
            }

        }

        .nav {
            flex-wrap: nowrap;
    
            .nav-item {
    
                .nav-link {
                    font-size: 18px;
                    background-color: #fff;
                    color: #3a3a3a;
                    text-transform: capitalize;
                    border-bottom: solid 1.5px #ededed;
                    border-radius: 0;
    
                    .fa {
                        background-color: transparent;
                        border-right: solid 1.5px #bcacac;
                        padding: 0.5rem;
                    }
                }
    
                .active {
                    background-color: #bc3935;
                    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
                    color: #fff;
                    border: none;
                }

                &:last-child {

                    .nav-link {
                        border: none;
                    }
                }
            }
        }
    }

    #myTabContent {

        padding: 3rem 2rem;
        box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.16);

        #editprofile {

            form {
                margin-top: 2rem;
                display: grid;
                row-gap: 1rem;

                .form-group {

                    border-bottom: solid 1.5px #ededed;
                    padding-bottom: 1.5rem;
                    width: 310px;
                    
                    label {
                        font-size: 20px;
                        display: block;
                        margin-bottom: 1rem;
                    }
    
                    input {
                        border: none;
                        font-size: 16px;
                        color: #ededed;
                    }
                    
                    span {
    
                        button {
                            border: none;
                            font-size: 16px;
                            background-color: #fff;
                            color: #bc3935;
                        }
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        #myorders {

            .order_list {
                display: grid;
                row-gap: 2rem;
                margin-top: 2rem;

                .order {
                    padding: 1rem;
                    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.2);

                    .order_header {
                        display: flex;
                        justify-content: space-between;

                        .address {
                            h4 {
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }

                        .status_delivered {
                            color: #14df14;
                            .fa-check {
                                color: #fff;
                                background-color: #14df14;
                                padding: 0.1rem;
                                border-radius: 50%;
                            }
                        }

                        .status_cancelled {
                            color: #bc3935;
                            .fa-times {
                                color: #fff;
                                background-color: #bc3935;
                                padding: 0.1rem 0.2rem;
                                border-radius: 50%;
                            }
                        }
                    }

                    table {
                        tr {
                            border-top: dotted 2px #ededed;

                            td,
                            th {
                                font-size: 14px;
                                padding: 0.25rem;
                            }

                            th {
                                color: #646464;
                                a {
                                    font-size: 14px;
                                    text-decoration: none;
                                    color: #bc3935;
                                }
                            }
                        }
                    }
                }

                .order_show_more {
                    .order_show_more_btn {
                        width: 100%;
                        background-color: #fff;
                        border: solid 2px #ededed;
                        font-weight: 700;
                        padding: 0.5rem 0;
                        cursor: pointer;
                    }
                }
            }

            .overlay {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                right: 0;
                background-color: #fff;
                overflow-x: hidden;
                transition: 0.5s;
                z-index: 9;
                box-shadow: 0 4px 20px -3px rgba(0, 0, 0, 0.16);
                padding-bottom: 5rem;
    
                .overlay-content {
                    position: relative;
                    top: 12%;
                    width: 100%;
                    text-align: center;
                    padding: 0 3rem;
    
                    h5 {
                        text-align: left;
                        margin: 0;
                        font-weight: 600;
                        text-transform: capitalize;
                        font-size: 1.25rem;
                    }

                    p {
                        color: #646464;
                        text-align: left;
                        margin-bottom: 0;
                        margin-top: 0.5rem;
                        text-transform: capitalize;

                        strong {
                            font-size: 16px;
                        }
                    }

                    .track_order {
                        margin-top: 0.5rem;
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-size: 14px;
                        }

                        .step_done {
                            .fa {
                                background-color: #bc3935;
                                color: #fff;
                                font-weight: 500;
                                border-radius: 50%;
                                border: solid 2px #bc3935;
                                padding: 0.25rem;
                            }

                            p {
                                color: #bc3935;
                            }
                        }

                        .step_next {
                            .fa {
                                background-color: #fff;
                                font-weight: 500;
                                border-radius: 50%;
                                border: solid 2px #000;
                                padding: 0.25rem;
                            }
                        }

                        hr {
                            width: 100%;
                            color: #646464;
                        }
                    }

                    table {
                        margin-top: 0.5rem;
                        color: #646464;
                        text-align: left;
                        width: 100%;

                        th,
                        td {
                            text-transform: capitalize;
                            &:nth-child(2) {
                                text-align: right;
                            }
                        }

                        td {
                            font-size: 14px;
                        }

                        tbody {
                            margin-bottom: 1rem;
                            th {
                                font-size: 16px;
                            }

                            tr {
                                border-top: dotted 1.5px #646464;
                                border-bottom: dotted 1.5px #646464;

                                &:first-child {
                                    border: none;
                                }
                            }
                        }

                        tfoot {
                            th {
                                font-size: 17px;
                                color: #000;
                            }
                        }
                    }
                }
    
                .closebtn {
                    position: absolute;
                    font-size: 40px;
                    color: #646464;
                    left: 10px;
                }
            }
        }

        #manageaddress {

            .card-body {
                padding: 0;
                margin-top: 2rem;

                .addresses {
                    display: flex;
                    justify-content: space-between;
                }

                .address {
                    border: solid 1.5px #ededed;
                    padding: 1rem;
                    display: flex;
                    width: 49%;

                    .fa {
                        margin-right: 1rem;
                    }

                    h6 {
                        font-size: 20px;
                        text-transform: capitalize;
                    }

                    p {
                        color: #646464;
                        font-size: 16px;
                        text-transform: capitalize;

                        strong {
                            color: #000;
                            font-size: 14px;
                            text-transform: uppercase;
                        }
                    }

                    span {
                        .edit_address,
                        .delete_address {
                            color: #bc3935;
                            font-size: 16px;
                            margin-right: 2rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        #couponsandoffers {

            .offers_cards {
                display: grid;
                grid: auto/ repeat(2, 1fr);
                row-gap: 1rem;
                column-gap: 1rem;
                margin: 2rem 0;

                .card {
                    display: grid;
                    row-gap: 0.5rem;
                    padding: 1rem 0.5rem;
                    border: none;
                    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);

                    .offer_by {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .offer_discount {
                            color: #bc3935;
                            text-transform: uppercase;
                            font-weight: 700;
                        }

                        .offer_by_logo {

                            img {
                                width: 2rem;
                            }
                        }
                    }

                    .offer_detail {

                        p {
                            color: #646464;
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                    }

                    .offer_more_info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .copy_coupon,
                        .more_Details {
                            color: #bc3935;
                            font-size: 14px;

                            .coupon_btn {
                                border: dotted 1.5px #646464;
                                border-radius: 5px;
                                color: #646464;
                                padding: 0.25rem 1rem;
                                background-color: #fff;
                                outline: none;
                                cursor: pointer;
                                text-transform: uppercase;
                            }
                        }

                        .copy_coupon {
                            p {
                                display: inline;
                            }
                        }
                    }
                }
            }

            .offers_show_more {
                .offers_show_more_btn {
                    width: 100%;
                    background-color: #fff;
                    border: solid 2px #ededed;
                    font-weight: 700;
                    padding: 0.5rem 0;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1199px) and (min-width: 993px) {
    body .vendor_list_nav .vendor_list_nav_two {
        width: 45%;
    }
}

@media (max-width: 1199px) {

    .acount_detail .container {
        max-width: 100%;
    }

    .account_info .account_tabs {
        padding: 0 1rem 2rem;
    }
}

@media (max-width: 991px) {
    body .acount_detail {
        padding: 3rem 1rem;
    }
}

@media (max-width: 900px) {
    .account_info {
        display: grid;
    }

    .account_info .account_tabs, .account_info #myTabContent {
        max-width: 100%;
    }

    .account_info #myTabContent #editprofile form .form-group {
        padding-bottom: 0.5rem;
    }
}

@media (max-width: 640px) {
    .account_info #myTabContent #couponsandoffers .offers_cards {
        grid: auto/repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .account_info #myTabContent h3 {
        font-size: 1.25rem;
    }

    .account_info #myTabContent #manageaddress .card-body .addresses {
        display: grid;
        row-gap: 1rem;
    }

    .account_info #myTabContent #manageaddress .card-body .address {
        width: unset;
    }
}

@media (max-width: 414px) {
    .vendor_list_nav .vendor_list_nav_one h5 {
        font-size: 20px;
    }
    
    .account_info #myTabContent #editprofile form .form-group {
        width: unset;
    }

    #myorders {
        margin: 0 -1rem;
    }

    .account_info #myTabContent #myorders .overlay .overlay-content {
        padding: 0 1rem;
    }
}

@media (max-width: 375px) {

    div#manageaddress, div#couponsandoffers {
        margin: 0 -1rem;
    }
}

@media (max-width: 330px) {
    body .acount_detail {
        padding: 3rem 0.5rem;
    }

    .account_info .account_tabs {
        padding: 0 0rem 2rem;
    }

    div#couponsandoffers {
        margin: 0 -1.5rem;
    }
}